doc/maileva-290119/xsd/Maileva.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:com="http://www.maileva.fr/CommonSchema" xmlns:mlv="http://www.maileva.fr/MailevaSpecificSchema" elementFormDefault="qualified" targetNamespace="http://www.maileva.fr/MailevaSpecificSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Common.xsd" namespace="http://www.maileva.fr/CommonSchema" />
  <xs:complexType name="RequestOption">
    <xs:choice>
      <xs:element name="PaperOption" type="mlv:RequestOptionPaper" />
      <xs:element name="DigitalOption" type="mlv:RequestOptionDigital" />
      <xs:element name="SmsOption" type="mlv:RequestOptionSms" />
      <xs:element name="FaxOption" type="mlv:RequestOptionFax" />
      <xs:element name="EmailOption" type="mlv:RequestOptionEmail" />
      <xs:element name="VoteOption" type="mlv:RequestOptionVote" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestOptionPaper">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="RemoveInvalidReturnEnvelope" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="StampAdjust" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentsRestitution" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="FoldOption" type="mlv:FoldOptionPaper" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceOption" type="mlv:InvoiceOptionPaper" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RequestOptionDigital">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="FoldOption" type="mlv:FoldOptionDigital" />
      <xs:element name="DepositType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BANK_DETAILS" />
            <xs:enumeration value="BLOOD_GROUP_CARD" />
            <xs:enumeration value="BRIEFING_NOTE" />
            <xs:enumeration value="CARTE_VITALE" />
            <xs:enumeration value="CHECK_IN_INVENTORY" />
            <xs:enumeration value="CHECK_OUT_INVENTORY" />
            <xs:enumeration value="CIVIL_LIABILITY_CERTIFICATE" />
            <xs:enumeration value="COMPENSATION" />
            <xs:enumeration value="CONSUMER_LOAN_AGREEMENT" />
            <xs:enumeration value="CONSUMER_LOAN_SCHEDULE" />
            <xs:enumeration value="COVER_LETTER" />
            <xs:enumeration value="CV" />
            <xs:enumeration value="DEPARTMENT_OF_TERRITORIES" />
            <xs:enumeration value="DIPLOMA" />
            <xs:enumeration value="DIVORCE_AGREEMENT" />
            <xs:enumeration value="EMPLOYER_CERTIFICATE" />
            <xs:enumeration value="EMPLOYMENT_CONTRACT" />
            <xs:enumeration value="ENERGY_INVOICE" />
            <xs:enumeration value="FUNDRAISING" />
            <xs:enumeration value="HOME_INSURANCE" />
            <xs:enumeration value="HOME_INSURANCE_RECEIPT" />
            <xs:enumeration value="HOME_LOAN_SCHEDULE" />
            <xs:enumeration value="INSURANCE_CERTIFICATE" />
            <xs:enumeration value="INVOICE" />
            <xs:enumeration value="LETTER" />
            <xs:enumeration value="MEDICAL_CERTIFICATE" />
            <xs:enumeration value="MONTHLY_HOURS_SUMMARY" />
            <xs:enumeration value="MUTUAL_CARD" />
            <xs:enumeration value="NOTARIZED_ACT" />
            <xs:enumeration value="NOTICE_OF_MATURITY" />
            <xs:enumeration value="PASSPORT" />
            <xs:enumeration value="PAYSLIP" />
            <xs:enumeration value="PHONE_INVOICE" />
            <xs:enumeration value="POSTAL_IDENTIFICATION" />
            <xs:enumeration value="PROFIT_SHARING_SHEET" />
            <xs:enumeration value="PROPERTY_TITLE" />
            <xs:enumeration value="REAL_ESTATE_LOAN_AGREEMENT" />
            <xs:enumeration value="RENT_RECEIPT" />
            <xs:enumeration value="RENTAL_AGREEMENT" />
            <xs:enumeration value="RETIREMENT_POINTS_STATEMENT" />
            <xs:enumeration value="SCHOOL_CERTIFICATE" />
            <xs:enumeration value="STUDENT_CARD" />
            <xs:enumeration value="TAX_FORM" />
            <xs:enumeration value="TAX_RECEIPT" />
            <xs:enumeration value="TAXATION_CERTIFICATE" />
            <xs:enumeration value="TRAINING_PERSO_ACCOUNT_STATEMENT" />
            <xs:enumeration value="TRAVEL_PASS" />
            <xs:enumeration value="WATER_INVOICE" />
            <xs:enumeration value="WEDDING_CONTRACT" />
            <xs:enumeration value="WILL" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DigitalArchiving" type="mlv:MlvDigiposteArchivingDuration" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RequestOptionSms">
    <xs:all>
      <xs:element name="FoldOption" type="mlv:FoldOptionSms" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RequestOptionFax">
    <xs:all>
      <xs:element name="FoldOption" type="mlv:FoldOptionFax" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RequestOptionEmail">
    <xs:all>
      <xs:element name="FoldOption" type="mlv:FoldOptionEmail" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RequestOptionVote">
    <xs:all>
      <xs:element name="VoteCollege">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="mlv:MlvVoteCollege">
              <xs:attribute name="Name" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="53" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VoteType" type="com:ComVoteType" />
      <xs:element name="VoteRound" type="mlv:MlvVoteRound" />
      <xs:element name="VoteCategories">
        <xs:complexType>
          <xs:sequence minOccurs="1">
            <xs:element minOccurs="1" maxOccurs="2" name="VoteCategory" type="mlv:VoteCategory" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="FoldOption" type="mlv:FoldOptionVote" />
      <xs:element minOccurs="0" name="VoteQuantity" type="xs:positiveInteger" />
      <xs:element name="Company">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="38" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PollDate" type="xs:date" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOption">
    <xs:choice>
      <xs:element name="PaperOption" type="mlv:FoldOptionPaper" />
      <xs:element name="DigitalOption" type="mlv:FoldOptionDigital" />
      <xs:element name="VoteOption" type="mlv:FoldOptionVote" />
    </xs:choice>
    <xs:attribute name="Id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="FoldOptionPaper">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeType" type="mlv:MlvEnvelopeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeWindowType" type="mlv:MlvEnvelopeWindowType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostageClass" type="mlv:MlvPostageClass" />
      <xs:element minOccurs="0" maxOccurs="1" name="FoldPrintColor" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrintSenderAddress" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintRecipTrackId" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="TreatUndeliveredMail" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="TreatAR" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DigitalArchiving" type="mlv:DigitalArchiving" />
      <xs:element minOccurs="0" maxOccurs="1" name="UseFlyLeaf" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LogoRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReturnEnvelopeRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentOption" type="mlv:DocumentOptionPaper" />
      <xs:element minOccurs="0" maxOccurs="1" name="SwitchingPolicy" type="com:ComSwitchingPolicy" />
      <xs:element minOccurs="0" maxOccurs="1" name="ForceSendingMode" type="com:ComForceSendingMode" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="InvoiceOptionPaper">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="UseAddressBook" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailFrom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmailReply">
	       <xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="80" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EmailFooter">
      		<xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="255" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MsgObject">
      		<xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="255" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SenderTaxNumber">
      		<xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="13" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SenderSiret">
      		<xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="14" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SenderCompanyName"> 
      		<xs:simpleType>
	          <xs:restriction base="xs:string">
	            <xs:maxLength value="255" />
	          </xs:restriction>
	        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SenderCountryCode" type="com:ComCountryCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="SenderPaymentType" type="mlv:MlvSenderPaymentType"/>      
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOptionDigital">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeType" type="mlv:MlvEnvelopeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeWindowType" type="mlv:MlvEnvelopeWindowType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostageClass" type="mlv:MlvPostageClass" />
      <xs:element minOccurs="0" maxOccurs="1" name="FoldPrintColor" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrintSenderAddress" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintRecipTrackId" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="TreatUndeliveredMail" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigitalArchiving" type="mlv:DigitalArchiving" />
      <xs:element minOccurs="0" maxOccurs="1" name="UseFlyLeaf" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LogoRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentOption" type="mlv:DocumentOptionDigital" />
      <xs:element name="DepositTitle">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="DepositDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOptionSms">
    <xs:all>
      <xs:element name="EmissionMode" type="mlv:MlvOfferType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOptionFax">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EmissionMode" type="mlv:MlvOfferType" />
      <xs:element minOccurs="0" name="FlyLeaf" type="mlv:FlyLeaf" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOptionEmail">
    <xs:all>
      <xs:element name="MsgObject">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FoldOptionVote">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeType" type="mlv:MlvEnvelopeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EnvelopeWindowType" type="mlv:MlvEnvelopeWindowType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostageClass" type="mlv:MlvPostageClass" />
      <xs:element minOccurs="0" maxOccurs="1" name="UseFlyLeaf" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LogoRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PrintSenderAddress" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReturnEnvelopeRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentOption" type="mlv:DocumentOptionVote" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DocumentOption">
    <xs:choice>
      <xs:element name="PaperOption" type="mlv:DocumentOptionPaper" />
      <xs:element name="DigitalOption" type="mlv:DocumentOptionDigital" />
      <xs:element name="VoteOption" type="mlv:DocumentOptionVote" />
    </xs:choice>
    <xs:attribute name="Id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="DocumentOptionPaper">
    <xs:all>
      <xs:element minOccurs="0" name="PrintDuplex" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PageOption" type="mlv:PageOptionPaper" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DocumentOptionVote">
    <xs:all>
      <xs:element minOccurs="0" name="PrintDuplex" type="xs:boolean" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DocumentOptionDigital">
    <xs:all>
      <xs:element minOccurs="0" name="PrintDuplex" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PageOption" type="mlv:PageOptionDigital" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PageOption">
    <xs:choice>
      <xs:element name="PaperOption" type="mlv:PageOptionPaper" />
      <xs:element name="DigitalOption" type="mlv:PageOptionDigital" />
      <xs:element name="VoteOption" type="mlv:PageOptionVote" />
    </xs:choice>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PageOptionPaper">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="BackgroundId">
        <xs:simpleType>
          <xs:restriction base="mlv:MlvAddedPageId">
            <xs:maxLength value="45" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="InsertPageId">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="mlv:MlvAddedPageId">
              <xs:attribute name="Type" type="com:ComInsertPageType" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PageOptionVote">
    <xs:all>
      <xs:element minOccurs="0" name="PrintColor" type="xs:boolean" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PageOptionDigital">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="BackgroundId">
        <xs:simpleType>
          <xs:restriction base="mlv:MlvAddedPageId">
            <xs:maxLength value="45" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="InsertPageId">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="mlv:MlvAddedPageId">
              <xs:attribute name="Type" type="com:ComInsertPageType" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Notification">
    <xs:all>
      <xs:element name="Format" type="mlv:MlvNotificationFormat" />
      <xs:element name="Protocols">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Protocol">
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element minOccurs="1" maxOccurs="1" name="Email">
                    <xs:simpleType>
                      <xs:restriction base="com:ComEmail">
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="1" maxOccurs="1" name="Ftp" type="com:FtpNotificationProtocol" />
                  <xs:element name="Cft" type="com:CftNotificationProtocol" />
                  <xs:element name="Http" type="com:HttpNotificationProtocol" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Type" type="mlv:MlvNotificationType" use="required" />
  </xs:complexType>
  <xs:complexType name="DigitalArchiving">
    <xs:all>
      <xs:element name="Online" type="mlv:MlvDigitalArchivingDuration" />
      <xs:element name="Standard" type="mlv:MlvDigitalArchivingDuration" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="FlyLeaf">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Object">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Warning">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Type">
        <xs:simpleType>
          <xs:restriction base="mlv:MlvFlyLeafType">
            <xs:enumeration value="STANDARD" />
            <xs:enumeration value="CUSTOM" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
    <xs:attribute name="CustomRef" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="45" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="MlvEnvelopeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C4" />
      <xs:enumeration value="C6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvEnvelopeWindowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMPL" />
      <xs:enumeration value="DBL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvPostageClass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD" />
      <xs:enumeration value="SLOW" />
      <xs:enumeration value="RECOMMANDE" />
      <xs:enumeration value="RECOMMANDE_AR" />
      <xs:enumeration value="SLOW_NB" />
      <xs:enumeration value="DESTINEO_EL_STD_S1" />
      <xs:enumeration value="DESTINEO_EL_STD_S2" />
      <xs:enumeration value="DESTINEO_EL_MECA_S1" />
      <xs:enumeration value="DESTINEO_EL_MECA_S2" />
      <xs:enumeration value="LETTRE_GRAND_COMPTE" />
      <xs:enumeration value="ECOPLI_GRAND_COMPTE" />
      <xs:enumeration value="LETTRE_VERTE" />
      <xs:enumeration value="LETTRE_VERTE_NB" />
      <xs:enumeration value="LRE" />
      <xs:enumeration value="LRE_AR" />
      <xs:enumeration value="LRE_TE" />
      <xs:enumeration value="LRE_TE_AR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvDigitalArchivingDuration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="12" />
      <xs:enumeration value="36" />
      <xs:enumeration value="72" />
      <xs:enumeration value="120" />
      <xs:enumeration value="132" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvDigiposteArchivingDuration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="12" />
      <xs:enumeration value="60" />
      <xs:enumeration value="120" />
      <xs:enumeration value="600" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvOfferType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIRECT_MKT" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvNotificationFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TXT" />
      <xs:enumeration value="XML" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvNotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GENERAL" />
      <xs:enumeration value="PND" />
      <xs:enumeration value="LRE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvFlyLeafType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD" />
      <xs:enumeration value="CUSTOM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvSenderPaymentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VAT_DEBIT" />
      <xs:enumeration value="VAT_CASHING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CandidateList">
    <xs:all>
      <xs:element minOccurs="1" name="Candidates">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="8" name="Candidate" type="mlv:Candidate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Order" type="xs:positiveInteger" />
      <xs:element name="VoteFunction" type="mlv:MlvVoteFunction" />
      <xs:element name="VoteColor" type="com:ComPageColor" />
      <xs:element minOccurs="0" name="UnionName" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Candidate">
    <xs:all>
      <xs:element name="Order" type="xs:positiveInteger" />
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="38" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="MlvVoteFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERMANENT" />
      <xs:enumeration value="SUBSTITUTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VoteCategory">
    <xs:all>
      <xs:element name="VoteCategoryType">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="mlv:MlvVoteCategoryType">
              <xs:attribute name="Name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="30" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="CandidateLists">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="24" name="CandidateList" type="mlv:CandidateList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="MlvVoteCategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DP" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="DU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvVoteCollege">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FIRST" />
      <xs:enumeration value="SECOND" />
      <xs:enumeration value="THIRD" />
      <xs:enumeration value="FOURTH" />
      <xs:enumeration value="FIFTH" />
      <xs:enumeration value="SIXTH" />
      <xs:enumeration value="SEVENTH" />
      <xs:enumeration value="EIGHTH" />
      <xs:enumeration value="NINTH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvVoteRound">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FIRST" />
      <xs:enumeration value="SECOND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MlvAddedPageId">
    <xs:restriction base="xs:string">
      <xs:maxLength value="45" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>